@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
/* Used Google Fonts */
body{
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Mansalva', cursive; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Lora', serif; */
font-family: 'Muli', sans-serif;
/* font-family: 'Lobster', cursive; */
/* font-family: 'Cinzel', serif; */
/* font-family: 'Bangers', cursive; */
text-align: center;
}

body{
    background-color:#000;
    color: #00AEEF

}

h1{
    text-decoration: underline;
}

button{
    background-color: #00AEEF;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 100px;
}

input{
    height: 25px;
    width: 200px;
}
 
.styled-list {
    list-style: none;
    max-width: 325px;
    padding: 10px;
    margin: 20px 0;
    position : relative;
    left: 42%;
  }

.styled-list li {
    margin: 10px 0;
}
/* 
  .styled-list li {
    position: relative;
    padding-left: 10px;
    float: left;
  }
  .styled-list li:nth-child(even) {
    padding-right: 10px;
    text-align: right;
    padding-left: 0;
    float: right;
    max-width: 150px;
  }
  .styled-list li:nth-child(even):before {
    left: auto;
    right: 0;
  } */